Package: me.nebula.testtweak
Name: Test Tweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Nebula
Author: Nebula
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
